<!DOCTYPE html>
<html lang="zh">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>关于Wakaba Shop | Wakaba Shop</title>
	<meta name="keywords" content="网页设计，商品售卖，理念">
	<meta name="description" content="介绍「 原神 」的理念和制作者，此商店售卖原神周边商品。">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="index.html">TOP</a></li>
				<li><a href="about.html">ABOUT</a></li>
				<li><a href="form.html">CONTACT</a></li>
			</ul>
		</nav>
		<h1>关于Wakaba Shop</h1>
	</header>

  <main>
    <div class="row">
      <table>
        <tbody>
          <tr>
            <th>商店名</th>
            <td>重庆邮电大学原神周边</td>
          </tr>
          <tr>
            <th>管理人</th>
            <td>mxz</td>
          </tr>
          <tr>
            <th>理念</th>
            <td>展示原神玩家们曾想到过，看到就能一下子引起共鸣的商品。<br>
            可以自用，也推荐作为礼物送给玩原神的人。</td>
          </tr>
          <tr>
            <th>邮费·支付方式</th>
            <td>本店的支付·邮送委托相关服务商。商品不同，具体情况可能会有所不同，请您在购买与支付时核实具体情况。使用原石进行交易</td>
          </tr>                    
          <tr>
            <th>联系我们</th>
            <td>如需咨询或有任何要求，请通过此<a href="form.html">联系米哈游</a>。</td>
          </tr>       
        </tbody>
      </table>
    </div>
  </main>

	<footer>
        <p>Copyright &copy; Wakaba shop</p>
	</footer>
</body>
</html>
