<!DOCTYPE html>
<html lang="zh">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>联系我们 | Wakaba Shop</title>
  <meta name="keywords" content="咨询，Web设计，礼物">
  <meta name="description" content="请在此处咨询Wakaba shop的相关事宜。Wakaba shop展示Web设计师们超喜欢，看到能一下子引起共鸣的T恤等商品。">
  <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="index.html">TOP</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="form.html">CONTACT</a></li>
      </ul>
    </nav>
    <h1>联系我们</h1>
  </header>

  <main>
    <div class="row">
      <h2>咨询受理</h2>
      <p>感谢您的咨询</p>
      <h2>注意事项</h2>
      <p>此网页是网页制作练习用的示例网页。<br>
      点击「发送」按钮后，消息实际上并不会发送出去。感谢理解。<br>
      感谢理解
      </p>  
      <h2>怎样才能让邮件自动送达？</h2>
      <p>邮件的自动发送功能，仅通过HTML和CSS是无法实现的。<br>
      还需要写入PHP这样的编程语言。
      </p>
    </div>
  </main>

  <footer>
    <p>Copyright &copy; Wakaba shop</p>
  </footer>
</body>
</html>
