<!DOCTYPE html>
<html lang="zh">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>联系我们 | Wakaba Shop</title>
  <meta name="keywords" content="咨询，Web设计，礼物">
  <meta name="description" content="请在此处咨询Wakaba shop的相关事宜。Wakaba shop展示Web设计师们超喜欢，看到能一下子引起共鸣的T恤等商品。">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="index.html">TOP</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="form.html">CONTACT</a></li>
      </ul>
	</nav>
    <h1>联系我们</h1>
  </header>

  <main>
    <div class="row">
      <form name="contact" action="{% url 'contact_form' %}" method="post">
        {% csrf_token %}
        <input class="email" type="email" name="email" placeholder="邮箱地址" required>
        <textarea class="comment" name="comment" rows="20" placeholder="咨询内容" required></textarea>
        <div class="center">
          <input class="button" type="submit" name="submit" value="发送">
        </div>
      </form>
     </div>
  </main>

  <footer>
    <p>Copyright &copy; Wakaba shop</p>
  </footer>
</body>
</html>
