<!DOCTYPE html>
<html lang="zh">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>原神周边店：给原神玩家的礼物·有趣的商品</title>
  <meta name="keywords" content="原神玩家的礼物，生日，有趣的商品，T恤">
  <meta name="description" content="展示原神玩家会喜欢，一下子就能引发共鸣的商品。推荐作为生日礼物、或者日常小礼物使用。。">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="index.html">TOP</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="form.html">CONTACT</a></li>
      </ul>
    </nav>
    <h1><a href="index.html">Wakaba shop</a></h1>
    <p>给原神玩家的礼物！<br>展示满溢着幽默的商品</p>
  </header>

  <main>
    <div class="row">
    <h2>原神玩家的话，会一下子就引发共鸣吧？</h2>
    <p>原神周边店，展示以原神为主题的商品。了解原神的人，看到后会一下子就引发共鸣吧？<br>当然可以自用，也推荐作为生日礼物或日常小礼物送给朋友。</p>
    </div>
    <div class="row">
      <div class="col harf">
        <a href="item01.html"><img src="{% static 'images/item01.jpg' %}" alt="HTML Strong T恤">
        空月祝福　2980原石（含税）</a>
      </div>
      <div class="col harf">
      	<a href="item02.html"><img src="{% static "images/item02.jpg"%}"alt="原石cos服">
        原石cos服　3980原石（含税）</a>
      </div>
    </div>
    <div class="row">
      <div class="col harf">
        <a href="item03.html"><img src="{% static "images/item03.jpg"%} "alt="原神联名奶茶">
        原神联名奶茶　2980原石（含税）</a>
      </div>
      <div class="col harf">
        <a href="item04.html"><img src="{% static "images/item04.jpg"%}" alt="必胜客盘子">
        必胜客盘子　1,280原石（含税）</a>
      </div>
    </div>
  </main>

  <footer>
    <p>Copyright &copy; Wakaba shop</p>
  </footer>
</body>
</html>
