<!DOCTYPE html>
<html lang="zh">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>必胜客盘子 | 重庆邮电大学原神周边店</title>
  <meta name="keywords" content="原神，必胜客，盘子">
  <meta name="description" content="把大家熟悉的原神角色，印在了盘子上！推荐当礼物送给玩原神的朋友！">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header id="itempage">
    <nav>
      <ul>
        <li><a href="index.html">TOP</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="form.html">CONTACT</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>    
      <div class="row">
        <div class="col harf">
          <img src="{% static "images/item04.jpg"%}" alt="必胜客盘子">
        </div>
        <div class="col harf">
        	<h1>必胜客盘子 2个套装</h1>
          <p>价格昂贵的盘子，有可能被偷。</p>
            <div class="cartarea">
              <p>
              	<span class="price">1,280</span>原石（含税）
              </p>
              <a class="button" href="https://space.bilibili.com/1613930129?spm_id_from=333.1007.0.0" target="_blank">售卖页面</a>
            </div>
        </div>
      </div>
    </section>
  </main>

	<footer>
		<p>Copyright &copy; Wakaba shop</p>
	</footer>
</body>
</html>
