<!DOCTYPE html>
<html lang="zh">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>原神联名奶茶 | 重庆邮电大学原神周边店</title>
  <meta name="keywords" content="原神，奶茶，游戏">
  <meta name="description" content="喜茶结合《原神》游戏的角色特征，推出了“绫人·水影龙眼椰”、“绫华·寒霜龙眼椰”两款产品。">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header id="itempage">
    <nav>
      <ul>
        <li><a href="index.html">TOP</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="form.html">CONTACT</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>    
      <div class="row">
        <div class="col harf">
          <img src="{% static "images/item03.jpg"%}" alt="HTML5+CSS3 T恤">
        </div>
        <div class="col harf">
        	<h1>原神联名奶茶</h1>
          <p>在《原神》游戏中，绫华平日钻研茶艺，绫人则有从袖中拿出奶茶的待机动作。<br>喜茶结合《原神》游戏的角色特征，推出了“绫人·水影龙眼椰”、“绫华·寒霜龙眼椰”两款产品。</p>
            <div class="cartarea">
              <p>
              	<span class="price">2,980</span>原石（含税）
              </p>
              <a class="button" href="https://space.bilibili.com/1613930129?spm_id_from=333.1007.0.0" target="_blank">售卖网页</a>
            </div>
        </div>
      </div>
    </section>
  </main>

	<footer>
		<p>Copyright &copy; Wakaba shop</p>
	</footer>
</body>
</html>
